body{
	background-image: url("../images/footer_lodyas.png");

}

footer{
	border-top: 5px solid teal;
	text-align: center;
	color: white;
	background-color: #666666;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 15px;


}

.name{
		font-family: 'Baloo Bhaijaan', cursive;
	color: white;
	background-color: teal;
	width: auto;
	padding: 25px;
	text-align: center;

}

.about{	
		font-family: 'Baloo Bhaijaan', cursive;
	color: teal;
	width: auto;
	padding-bottom: 15px;
	padding-left: 15px;
	text-align: center;
	border-bottom: 2px solid grey;

}

.bkgd{
	background-color: white;
}

div{
/*	border:1px solid red;*/
	margin: auto;
}

img.portrait{
		width: 250px;
		height: auto;
		margin: auto;
		padding-right: 10px;
		padding-bottom: 10px;
		float: left;
	}

img.portrait2 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  width: 240px;
  opacity: 0;
  transition: .5s ease;
}

.picBox{
	position: relative;
}

.picBox:hover img.portrait2 {
  opacity: 1;
   position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

p{	padding-left: 25px;
	padding-right: 25px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: grey;
	text-indent: 25px;
}

.body{
		background-color: white;
	}

.main-bod{
		margin-top: 15px;
		padding-bottom: 15px;
	}

.network{
	width: 100%;
	height: auto;
	display: inline-block;
	margin: auto;
	padding: 5px;
	max-width: 85.6px;
}
ul.nav{
	padding-top: 10%;
}

	.connect{
		color: teal;
			font-family: 'Baloo Bhaijaan', cursive;
		text-align: center;
		border-bottom: 0px solid lightgrey;
		width: 100%;
}

	.flex-icons {
		display: -webkit-flex;
    	display: flex;
		flex-direction: row;
		width: 100%;
		align-items: flex-stretch;
  		justify-content: space-around;
  		background-color: transparent;

}

	h5.links{
	font-family: 'Baloo Bhaijaan', cursive;
	color: grey;
	text-align: center;
}

	a{
	text-decoration: none;
}

	.pic{
		height: 90%;
		width: 90%;
		display: flex;
		flex-direction: column;
		padding-bottom: 20px;
	}
	.folio{
	margin-right: auto;
	margin-left: auto;
  	height: 90%;
  	width: 90%;
  	display: block;

  }

	.foliotext{
	width: 90%;
	text-align: center;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: white;
	background-color: teal;
	bottom: 25px;
	padding-top: 1px;
	padding-bottom: 1px;
	margin-bottom: 10px;
}

.boxxy{
border : 5px solid transparent;
  -webkit-transition : border 500ms ease-out;
  -moz-transition : border 500ms ease-out;
  -o-transition : border 500ms ease-out;
  transition : border 500ms ease-out;
}
 .boxxy :hover {
    border : 5px solid orange; 
 }

.tooltipp {
    position: relative;
    display: inline-block;
}

.tooltipp .tooltiptextt {
	font-family: 'Baloo Bhaijaan', cursive;
	text-shadow: 1px 1px 4px black;
	font-size: 14pt;
    visibility: hidden;
    width: 120px;
    background-color: transparent;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    z-index: 1;
/*    bottom: 100%;*/
      position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    
    /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity 1s;
}

.tooltipp:hover .tooltiptextt {
    visibility: visible;
    opacity: 1;
}


